[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pre-commit = "*"

[packages]
prompt-toolkit = ">=2.0.4"
ipykernel = "*"
pandas = "*"
numpy = "*"
census = "*"
click = "*"
census-data = {editable = true, path = "."}
census-data-downloader = "*"
sqlite-utils = "*"
census-map-downloader = {ref = "8-support-year", git = "https://github.com/ghing/census-map-downloader.git"}

[requires]
python_version = "3.9"
